* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que o corpo e a div principal do React ocupem 100% sem sobras */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esconde a rolagem horizontal */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F8F9FA;
}